<% if (locals.user) { %>
    
        <% for( post of posts ) { %>
            <div class="absolute hidden top-0 h-full w-full bg-gray-600/50" id="<%=post.id%>">
                <button class="fixed text-white right-0 text-lg cursor-pointer p-3" onclick="closeOverlay('<%=post.id%>')"><i
                        class="fa-solid fa-xmark"></i></button>
                <div class="rounded shadow-2xl fixed min-h-fit h-4/6  mx-auto inset-0 border-2 lg:w-8/12 bg-white border-gray-400 w-11/12 top-20 flex" >
                    <div class="w-1/2 md:w-2/5 bg-black "><img src="<%= post.post %> " alt="" class=" h-full mx-auto"></div>
                    <div class="w-1/2 md:w-3/5">
                        <div class="border-b-2 border-gray-200 p-1 flex items-center justify-between ">
                            <div class="flex items-center h-1/6">
                                <div class=""><img
                                        src="https://w7.pngwing.com/pngs/831/88/png-transparent-user-profile-computer-icons-user-interface-mystique-miscellaneous-user-interface-design-smile-thumbnail.png"
                                        class="h-10 w-10" alt=""></div>
                                <div class="ml-2 font-semibold">
                                    <%= post.user.username %>
                                </div>
                            </div>
                            <div class="text-lg mr-3 cursor-pointer">
                                <button onclick="btnclick('postOption')"><i class="fa-solid fa-ellipsis"></i></button>
                            </div>
                        </div>
                        <div class="h-4/6 overflow-y-auto">
                            <% for( comment of post.comment) { %>
                                <div class="w-full flex items-center my-1">
                                    <div class="w-1/12"><img src="https://w7.pngwing.com/pngs/831/88/png-transparent-user-profile-computer-icons-user-interface-mystique-miscellaneous-user-interface-design-smile-thumbnail.png"
                                        class="h-7 w-7 mx-auto" alt=""></div>
                                    <div class="w-11/12"><span class="font-semibold"><%= comment.user.username %></span><span class="ml-1"><%= comment.comment %></span></div>
                                </div>
                            <% } %>
                        </div>
                        <div class="h-1/6 flex-col items-center">
                            <div class="flex items-center p-1 justify-between h-1/2">
                                <div class="">
                                    <span class="mx-1 cursor-pointer font-bold hover:text-gray-400"><i
                                            class="fa-regular fa-heart text-xl "></i></span>
                                    <span class="mx-1 cursor-pointer font-bold hover:text-gray-400"><i
                                            class="fa-regular fa-comment text-xl "></i></span>
                                    <span class="mx-1 cursor-pointer font-bold hover:text-gray-400"><i
                                            class="fa-regular fa-paper-plane text-xl "></i></span>
                                </div>
                                <div class="">
                                    <span class="mx-1 cursor-pointer font-bold hover:text-gray-400"><i
                                            class="fa-regular fa-bookmark text-xl"></i></span>
                                </div>
                            </div>
                            <form action="/comment/create" class="w-full h-1/2 flex items-center  p-1 mb-0 border-t-2 border-gray-300" method="post">
                                <input type="text" name="comment" required class="w-9/12 px-3 " placeholder="Add a comment.." maxlength="100">
                                <input type="hidden" name="post" value="<%= post._id %>">
                                <input type="submit" value="Post" class="w-3/12">
                            </form>
                        </div>
                    </div>
                
                </div>
            </div>
            
        <% } %>
  
        
    
    
    
    <div class="mx-auto w-full sm:w-7/12 md:w-5/12 lg:w-4/12  mt-4 p-1 ">
        <% for( post of posts ) { %>
            <figure class="bg-white rounded-lg border-2 border-gray-200 shadow-2xl m-2">
                <!-- header of post -->
                <div class="border-b-2 border-gray-200 p-1 flex items-center justify-between ">
                    <div class="flex items-center">
                        <div class=""><img src="https://w7.pngwing.com/pngs/831/88/png-transparent-user-profile-computer-icons-user-interface-mystique-miscellaneous-user-interface-design-smile-thumbnail.png"  class="h-10 w-10" alt=""></div>
                        <div class="ml-2 font-semibold"><%= post.user.username %></div>
                    </div>
                    <div class="text-lg mr-3 cursor-pointer">
                        <button onclick="btnclick('postOption')"><i class="fa-solid fa-ellipsis"></i></button>
                    </div>
                </div>
                <!-- post image -->
                <img src="<%=post.post%>" alt="" class="h-96 w-full mx-auto">
                <!-- Like comment SHare save -->
                <div class="flex items-center p-1 justify-between">
                    <div class="">
                        <span class="mx-1 cursor-pointer font-bold hover:text-gray-400"><i class="fa-regular fa-heart text-xl "></i></span>
                        <span class="mx-1 cursor-pointer font-bold hover:text-gray-400"><i class="fa-regular fa-comment text-xl "></i></span>
                        <span class="mx-1 cursor-pointer font-bold hover:text-gray-400"><i class="fa-regular fa-paper-plane text-xl "></i></span>
                    </div>
                    <div class="">
                        <span class="mx-1 cursor-pointer font-bold hover:text-gray-400"><i class="fa-regular fa-bookmark text-xl"></i></span>
                    </div>
                </div>
                <!-- Count of likes -->
                <div class="font-bold text-xs pl-1 ml-1">X no of likes</div>
                <!-- todo maintian the caption -->
                <div class="p-1 ml-1 w-full"><p class="break-words w-full"><%= post.caption %></p> </div>
                <!-- Count of comments -->
                <div>
                    <% if (post.comment.length=='0') { %>
                        <small class="pl-1 ml-1 text-gray-400 text-semibold">Be the first to comment</small>
                    <% }else{ %>
                        <small class="pl-1 ml-1 text-gray-500 text-semibold"><button onclick="btnclick('<%=post.id %>')"> View all <%= post.comment.length %> comments </button></small>
                    <%} %>
                </div>
                <form action="/comment/create" class="w-full flex  p-1 mb-0 border-t-2 border-gray-300" method="post">
                    <input type="text" name="comment" required class="w-9/12 px-3 " placeholder="Add a comment..">
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input type="submit" value="Post" class="w-3/12">
                </form>
            </figure>
        <% } %>
    </div>
    

<% }else{ %>

    <%- include('partials/_sign_in') %> 

<% } %>



