<% if (locals.user) { %>
    <div class="mx-auto w-full sm:w-7/12 md:w-5/12 lg:w-4/12  mt-4 p-1 ">
        <% for( post of posts ) { %>
            <figure class="bg-white rounded-lg border-2 border-gray-200 shadow-2xl m-2">
                <div class="border-b-2 border-gray-200 p-1"><%= post.user.name %> </div>
                <img src="<%=post.post%>" alt="" class="h-96 w-full mx-auto">
                <!-- todo maintian the caption -->
                <div class="p-1 w-full"><p class="break-words w-full"><%= post.caption %></p> </div>
                <div><% for(comment of post.comment) { %>
                    <small><%= comment.user.name %> </small>
                    <p><%= comment.comment %>  </p>
                <% } %></div>
                <form action="/comment/create" class="w-full flex  p-1 mb-0 border-t-2 border-gray-300" method="post">
                    <input type="text" name="comment" required class="w-9/12 px-3 " placeholder="Add a comment..">
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input type="submit" value="Post" class="w-3/12">
                </form>
            </figure>
        <% } %>
    </div>
    

<% }else{ %>

    <%- include('partials/_sign_in') %> 

<% } %>



